.home-background{
    background-color: black;
}

.home-card-styling{
    background-color: grey;
    color: white;
    margin: 20px;
}

.card-prof-pic{
    margin-left: 20%;
    margin-top: 20%;
}